<nav>
    <ul class="nav-list">
        <li class="nav-buttons">Home</li>
        <li class="nav-buttons">Custom</li>
        <li class="nav-buttons">Sedan</li>
        <li class="nav-buttons">SUV</li>
        <li class="nav-buttons">Truck</li>
    </ul>
</nav>