/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/***** header ******/
#top-header {
  padding: 4px;
  display: flex;
  justify-content: space-between;
}

.siteName a {
  font: 2em sans-serif;
  text-decoration: none;
  color: black;
}
#tools {
  align-self: center;
}
#tools a {
  font: 1em sans-serif;
  text-decoration: none;
  color: black;
}

/***** main ******/
body {
  background-image: url('/images/site/small_check.jpg');
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  margin: 1em;
}
#wrapper {
  border: 3px solid green;
  background-color: white;
  margin: 5px;
  min-height: 90%;
}

#main-pic {
  background-image: url('/images/vehicles/delorean.jpg');
  background-size: contain;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 180px;
  max-height: 360px;
}
#on-top {
  background-color: rgba(255, 255, 255, .5);
  width: fit-content;
  position: relative;
  left: 10%;
}
#on-top-text {
  color:green;
  font-weight: bold;
}
#on-top button {
  background-color: darkgreen;
  color:white;
  font-weight:bold;
  padding: 8px;
}
#on-top-text p, #on-top-text h3 {
  margin: 2px;
}
#grid-wrapper {
  display: flex;
  flex-direction: column;
}
#reviews {
    margin: 1em;
}
#upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em;
}
#upgrades h3 {
  grid-column: 1 / 3;
}
.upgrades-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img-wrapper {
  background-color: darkgreen;
  border: 2px solid black;
  margin: 6px;
  display: flex;
  justify-content: center;
  align-self: stretch;
}
.upgrade-img {
  height: 75px;
  padding: 6px;
}

/****** classification display ******/
#inv-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}
li.classification {
  color:rgb(5, 5, 37);
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
  width: 200px;

}
li.classification img {
  width: 100%;
}
li.classification hr {
  display: none;
}
li.classification div.namePrice{
  text-align: center;
}

/****** vehicle display ******/
#vehicle-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em;
}
#vehicle-main-pic {
  margin: 1em;
}
.vehicle-pic {
  width: 100%;
}
.vehicle-details {
  margin: 1em;
}

/****** navigation ******/
nav ul {
  list-style: none;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  margin: 5px;  
  background-color: black;
}
nav a {
  color: white;
  text-align: center;
  text-decoration: none;
}

/****** forms, including login, registration, addNewInventory, addClassification, and management view******/
.form-input {
  min-height: 30px;
  border: 2px solid black;
}
.add-new-form {
  justify-content: space-around;
  margin: 5px; 
}
.submitBtn {
  justify-self: center;
  background-color: darkgreen;
  color:white;
  font-weight:bold;
  margin: 5px;  
  padding: 6px;
}

/****** login page and registration page ******/



/****** media queries ******/
@media (min-width: 600px) {

#grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#main-pic {
  grid-column: 1 / 3;
}
#vehicle-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em;
}
#vehicle-main-pic {
  margin: 1em;
}
.vehicle-details {
  margin: 1em;
}

}